<h1>Friday</h1>
</br>
</br>

<form action="/voting_results" align="center">

  <table border="2">

  <tr>
  <td>
    <h3>Vote for Friday Meetup Location!</h3>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="ballot" value="Cruise Room">Cruise Room</label>
    </div>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="ballot" value="Beer Mongers">Beer Mongers</label>
    </div>
  </td>
  <td>
    <div class="radio">
      <label><input type="radio" name="ballot" value="Ping-Pong Place">Ping-Pong Place</label>
    </div>
  </td>
  </tr>
</table>

  <input id="submit" type="submit" value="Submit">
</form>
